<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <!--top title and button-->
    <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <!--latest mars news-->
    <div class="container">
        <div class="row" id="mars-news">
            <div class="media">
                <div class="media-body">
                    <h4>Latest Mars News</h4>
                    <h5>{{mars.news_title}}</h5>
                    <p>{{mars.news_p}}</p>
                </div>
            </div>
        </div>   
    </div>
    <!---->
    <div class="row no-gutter img-table">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" id="img-table">
                    <h4 class="card-title">Featured Mars Image</h4>
                    <img class="card-img-bottom" src="{{mars.featured_image_url}}">
                </div>
                <br>
                <div class="card-body" id="mars-facts">
                    <div class="col-md-12">
                        <div>
                        <h4>Mars Facts</h4>
                        <p class="card-text">{{mars.mars_fact_table}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>